# Global env
DEBUG=*
API_HOST=0.0.0.0
API_PORT=3000

# Database ORM configuration
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=ospz-local
TYPEORM_PASSWORD=UCN2zrH2WGxKck7tT2JG4MY6wbHkeX9s
TYPEORM_DATABASE=ospz-local

# OAUTH2 configuration
SUPABASE_URL=db.localhost
SUPABASE_API_KEY=test
SUPABASE_JWT_SECRET=test
